*{
    font-family: sans-serif;
}
#top{
    width: 100%;
    height: 50px;
    background-color: #f3c9c9;
    position: fixed;
    z-index: 10000;
}

.carousel-item{
    font-size: 1.5vw;
}
.navlogo{
    margin-left: 160px;
}
.nav-link:hover{
    text-decoration: underline;
}
#brand{
    margin-right: 90px;
}
#search{
    position: absolute; 
    left: 180px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: black;
}
#search:hover{
    color:rgb(204, 42, 118);
}
.fa-brands:hover,.fa-regular:hover,.fa-solid:hover{
    color:rgb(204, 42, 118);
}
.navlogo{
    position: relative;
}
#navlogo{
    width: 100%;
}
#link,#link1,#link2,#link3,#link4,#navbarDropdownMenuLink{
    color: white;
}
#link:hover,#link1:hover,#link2:hover,#link3:hover,#link4:hover,#navbarDropdownMenuLink:hover{
    color: rgb(204, 42, 118);
}

.carousel-item{
    padding-top: 4px;
}
.navbar{
    height: 90px;
    position: fixed;
    color: white;
}
.header-image{
    position: relative;
    display: inline-block;
}
.text,.text2{
    position: absolute;
    top: 28%;
    left: 65%;
    color: rgba(0, 0, 0, 0.671);
}
#logo{
    position: absolute;
    top: 35%;
    left: 50%;
}
.text2{
    top: 49%;
}
.a1,.a2{
        font-size: 1.3vw;
        font-family:sans-serif;
        padding: 6px 19px;
        border-style: solid;
        border-color: #666666;
        background-color: #eaebec;
        color: #515252;
        border-width: 1px;
        position: absolute;
        top: 550px;
        left: 75%;
        text-decoration: none;
}
.a2{
    top: 610px;
    left: 71.8%;
}
.a3,.a3a{
    font-size: 1.3vw;
    font-family:sans-serif;
    padding: 6px 19px;
    border-style: solid;
    border-color: #666666;
    background-color: #eaebec00;
    color: #a5a5a5;
    border-width: 1px;
    position: absolute;
    text-decoration: none;
    white-space: nowrap;
}
.a3:hover,.a3a:hover{
    background-color: #cfd1d1;
    color:#666666;
}
.a3a{
    margin-top: 70px;
}
.a4{
    font-size: 1vw;
    font-family:sans-serif;
    padding: 6px 6px;
    border-style: solid;
    border-color: #666666;
    background-color: #b8b8b8;
    color: #272727;
    border-width: 1px;
    position: absolute;
    text-decoration: none;
    white-space: nowrap;
}
.a4:hover{
    background-color: #cfd1d100;
    color:#3d3d3d;
}
.text-center{
    margin-top: 30px;
}
.a2:hover{
    color: black;
    background-color: white;
}
.a1:hover{
    color: black;
    background-color: white;
}
.fa-regular{
    margin-left: 10px;
}
#ptitle{
    text-decoration: none;
    color: black;
}
#srow{
    margin-top: 60px;
}
.footer{
    margin-top: 150px;
    padding-top: 50px;
    background-color: black;
    color: white;
}
.fbtn{
    color: white;
    font-size:1vw ;
}
.fbtn:hover,.lbtn:hover{
    color: #666666;
}
.lbtn{
    font-size: 1vw;
    color: white;
    text-decoration: none;
    white-space: nowrap;
}
.ful{
    list-style-type: none;
}
#imgp{
    margin-top: 250px; 
    height: 350px; 
    width: 500px; 
    margin-left: 150px;
}
#imgp2{
    margin-top: 250px; 
    height: 350px; 
    width: 500px;
}
.pimg{
    margin-top: 240px;
    width: 50%;
    color: black;
    position:absolute;
}
.product{
    width: 70%;
    height: 623px;
    margin: auto;
    position: relative;
    border-bottom: 2px solid rgb(134, 134, 134);
}
.collapse{
    color: white;
}
#con{
    padding-top: 260px;
    margin-left: 60%;
}
#pronav:hover{
    text-decoration: underline;
    color: rgb(189, 40, 65);
}
#fixed{
    
    left: 50%;
    bottom: 50%;
    width: 10px;
}


@media screen and (maxwidth:580px){
    .img-fluid{
        padding-top: 150px;
    }
}

